@use "../abstracts/" as a;

:root {
  // colors
  --clr-dark: #070707;
  --clr-light: #fefefe;

  --clr-bg-1: #131313;
  --clr-bg-2: #1d1d1d;
  --clr-bg-card: #262626;

  --clr-accent: #02dac5;
  --clr-section-header: #6a6a6a;

  // font-families
  --ff-sans: "Inter", sans-serif;
  // --ff-serif: "Kurale", serif;
  --ff-serif: "Playfair Display", serif;
  --ff-cursive: "Allura", cursive;
  // font-sizes from ../abstract/type
  // Might need to add more breakpoints
  @each $screen-size, $font-size in a.$type-scale {
    @if $screen-size == small {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include a.breakpoint(medium) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }
}

.frosted {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  // color: #fff;
  // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
