@use "../../sass/abstracts/" as abs;

.timer {
  margin-top: abs.rem(72);

  border-radius: abs.rem(43);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  .title {
    font-family: var(--ff-serif);
    font-size: abs.rem(24);
    margin-left: auto;
    margin-right: abs.rem(50);
    text-align: right;
    text-transform: uppercase;
    max-width: abs.rem(200);
    line-height: abs.rem(25);

    span {
      font-family: var(--ff-cursive);
      font-size: abs.rem(48);
      text-transform: none;
    }
  }

  .countdown {
    display: flex;
    justify-content: center;
    margin-top: abs.rem(16);

    .block {
      display: flex;
      flex-direction: column;
      align-items: center;

      .label {
        font-family: var(--ff-serif);
        font-size: abs.rem(17);
        text-transform: uppercase;
      }
    }
  }
}
