@use "../../sass/abstracts/" as abs;

.map {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-top: 3rem;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  iframe {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: abs.rem(10);

    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
